.CardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 10px 20px;
  margin: 0 auto;
  /* background-color: tan; */
}
.Card-imgContainer{
  padding-right: 15px;
  width: 45px;
  height: 45px;
  color: #b7b7b7;
}
.Card-textContainer p{
  margin: 0;
}
.upperText{
  font-size: 16px;
}
.lowerText{
  font-size: 14px;
}